[Unit]
Description=Gunicorn server for SITENAME 

[Service]
Restart=on-failure
User=noname
WorkingDirectory=/home/noname/sites/SITENAME/source
ExecStart=/home/noname/sites/SITENAME/virtualenv/bin/gunicorn \
	--bind unix:/tmp/SITENAME.socket \
	--access-logfile ../access.log \
	--error-logfile ../error.log \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
